# Required packages

In [3]:
!pip install mysql-connector-python

Collecting mysql-connector-python
  Downloading mysql_connector_python-8.0.32-cp39-cp39-win_amd64.whl (7.9 MB)
     ---------------------------------------- 7.9/7.9 MB 1.1 MB/s eta 0:00:00
Collecting protobuf<=3.20.3,>=3.11.0
  Downloading protobuf-3.20.3-cp39-cp39-win_amd64.whl (904 kB)
     -------------------------------------- 904.2/904.2 kB 2.2 MB/s eta 0:00:00
Installing collected packages: protobuf, mysql-connector-python
Successfully installed mysql-connector-python-8.0.32 protobuf-3.20.3

In [3]:
from mysql import connector

# Connecting to Mysql

In [97]:
def connectMySQL():
    try :
        conn = connector.Connect(host="localhost",    # your host, usually localhost
                                         user="root",         # your username
                                         port="3306"         # port (3306 default)
                                         )      
        # Creating the cursor
        cur = conn.cursor()
        print("Connected to MySQL")
        return conn,cur
    
    except connector.Error as e:
        print(e)
        return e
        
    

connectMySQL()

Connected to MySQL

(<mysql.connector.connection_cext.CMySQLConnection at 0x22b9814ee50>,
 <mysql.connector.cursor_cext.CMySQLCursor at 0x22b96ce87f0>)

# Creating a database

In [16]:
def createDb(nameDB):
    conn,cur=connectMySQL()
    try :
        cur.execute(f"Create database {nameDB}")
        cur.execute("commit")
        # Closing the connection to the default database
        conn.close()
        
    except connector.Error as e :
        print(e)

createDb("DVDrentalDB")

Connected to MySQL
1007 (HY000): Can't create database 'dvdrentaldb'; database exists

# Connecting to a database

In [99]:
def connectDB(nameDB):
    try :
        conn = connector.Connect(host="localhost",    # your host, usually localhost
                                 user="root",         # your username
                                 port="3306",         # port (3306 default)
                                 db=nameDB
                                         )      
        # Creating the cursor
        cur = conn.cursor()
        print(f"Connected to {nameDB}")
        return conn,cur
    
    except connector.Error as e:
        print(e)
        return e
    
conn,cur=connectDB("DVDrentalDB")

Connected to DVDrentalDB

# Creating tables

In [6]:
def generateTableCreation():
    tableName=input("Enter the name of the Table : ")
    numberColumns=int(input(f"How many columns are there in {tableName} ? "))
    columns={}
    for i in range(numberColumns):
        nameColumn=input(f"Name of the column N°{i+1} : ")
        while nameColumn in columns.keys():
            nameColumn=input(f"Please choose another name for the column N°{i+1} : ")
        typeColumn=input(f"type of the column N°{i+1} : ")
        columns[nameColumn]=typeColumn
    
    primaryKey=input("Choose the primary key : ")
    while primaryKey not in columns.keys():
        primaryKey=input("Choose a primary key from the existing columns : ")

    
    foreignKeys={}
    numberFk=int(input("how many foreign keys are there ? : "))
    while numberFk > len(columns)-1 and numberFk<0:
        numberFk=int(input("Please enter a valid number of foreign keys : "))
    
    for i in range(numberFk):
        foreignKey=input(f"Enter foreign key N°{i+1} : ")
        while (foreignKey not in columns.keys() ) or  (foreignKey in foreignKeys.keys()):
            foreignKey=input(f"Please enter a valid foreign key : ")
        
        referenceTable=input(f"Enter the reference Table name for the {foreignKey} : ")
        referenceName=input(f"Enter the reference name of {foreignKey} in the {referenceTable} table : ")
        foreignKeys[foreignKey]=[referenceTable,referenceName]
    
    print("\n----------------------\n")
        
    print('"""')
    
    print(f"    CREATE TABLE {tableName} (")
    print(f"    {primaryKey} {columns[primaryKey]} PRIMARY KEY ",end="")
    for k,v in columns.items():
        if k==primaryKey:
            continue
        print(f",\n    {k} {v}",end="")
    
    for key in foreignKeys:
        print(f",\n    FOREIGN KEY ({key}) REFERENCES {foreignKeys[key][0]}({foreignKeys[key][1]})")
    
    print("    );")
    print('"""')

In [7]:
generateTableCreation()

Enter the name of the Table : Mytab
How many columns are there in Mytab ? 4
Name of the column N°1 : name
type of the column N°1 : varchar(20)
Name of the column N°2 : adress
type of the column N°2 : varchar(20)
Name of the column N°3 : vill
type of the column N°3 : varchar(20)
Name of the column N°4 : id
type of the column N°4 : varchar(20)
Choose the primary key : id
how many foreign keys are there ? : 0

----------------------

"""
    CREATE TABLE Mytab (
    id varchar(20) PRIMARY KEY ,
    name varchar(20),
    adress varchar(20),
    vill varchar(20)    );
"""

In [12]:
def createTableWithSql(cur,conn,sqlQuery):
    try:
        cur.execute(sqlQuery)
        conn.commit()
        
        return "Table created!!"
    except connector.Error as e:
        return e

In [13]:
def addForeignKey(conn,curr,targetTable,targetColumn,referenceTable,referenceColumn):
    try:
        cur.execute(f"""
        ALTER TABLE {targetTable} ADD CONSTRAINT fk_{targetTable}_{targetColumn} 
        FOREIGN KEY ({targetColumn}) REFERENCES {referenceTable}({referenceColumn})
        """)
        conn.commit()
        
        return "Foreign key added successfully!!"
    except connector.Error as e:
        return e

+ **Country table**

In [34]:
createTableWithSql(cur,conn,"""
    CREATE TABLE country (
    country_id varchar(20) PRIMARY KEY ,
    country char(20),
    last_update datetime    );
"""
)

'Table created!!'

+ **City table**

In [10]:
createTableWithSql(cur,conn,"""
    CREATE TABLE city (
    city_id varchar(20) PRIMARY KEY ,
    city char(20),
    country_id varchar(20),
    last_update datetime,
    FOREIGN KEY (country_id) REFERENCES country(country_id)
    );
"""
)

'Table created!!'

+ **Address table**

In [11]:
createTableWithSql(cur,conn,"""
    CREATE TABLE address (
    address_id varchar(20) PRIMARY KEY ,
    address varchar(100),
    address2 varchar(100),
    district varchar(40),
    city_id varchar(20),
    postal_code numeric(6),
    phone numeric(10),
    last_update datetime,
    FOREIGN KEY (city_id) REFERENCES city(city_id)
    );
"""
)

'Table created!!'

+ **Language table**

In [49]:
createTableWithSql(cur,conn,"""
    CREATE TABLE language (
    language_id varchar(5) PRIMARY KEY ,
    name char(20),
    last_update datetime    );
"""
)

'Table created!!'

+ **Film table**

In [64]:
createTableWithSql(cur,conn,"""
    CREATE TABLE film (
    film_id varchar(20) PRIMARY KEY ,
    title varchar(50),
    description char(200),
    release_year year,
    language_id varchar(5),
    rental_duration datetime,
    rental_rate numeric(2),
    length numeric(5),
    replacement_cost numeric(5,2),
    rating numeric(2),
    last_update datetime,
    special_features char(200),
    full_text varchar(100),
    FOREIGN KEY (language_id) REFERENCES language(language_id)
    );
"""
)
#######full_text

'Table created!!'

+ **Category table**

In [14]:
createTableWithSql(cur,conn,"""
    CREATE TABLE category (
    category_id varchar(20) PRIMARY KEY ,
    name varchar(20),
    last_update datetime    );
"""
)

'Table created!!'

+ **film_category table**

In [52]:
createTableWithSql(cur,conn,"""
    CREATE TABLE film_category (
    film_id varchar(20) PRIMARY KEY ,
    category_id varchar(20),
    last_update datetime,
    FOREIGN KEY (film_id) REFERENCES film(film_id),
    FOREIGN KEY (category_id) REFERENCES category(category_id)
    );
"""
)

'Table created!!'

+ **Actor table**

In [29]:
createTableWithSql(cur,conn,"""
    CREATE TABLE actor (
    actor_id varchar(20) PRIMARY KEY ,
    first_name varchar(20),
    last_name varchar(20),
    last_update datetime
    );
"""
)

'Table created!!'

+ **Film_actor table**

In [82]:
createTableWithSql(cur,conn,"""
    CREATE TABLE film_actor (
    id_film_actor varchar(10) Primary Key ,
    actor_id varchar(20) , 
    film_id varchar(20),
    last_update datetime,
    FOREIGN KEY (film_id) REFERENCES film(film_id),
    FOREIGN KEY (actor_id) REFERENCES actor(actor_id)
    );
"""
)
### film_actor id

'Table created!!'

+ **Store table**

In [91]:
createTableWithSql(cur,conn,"""
    CREATE TABLE store (
    store_id varchar(20) PRIMARY KEY ,
    manager_staff_id varchar(20) ,
    address_id varchar(20),
    last_update datetime,
    FOREIGN KEY (address_id) REFERENCES address(address_id)
    );
"""
)

'Table created!!'

+ **Staff table**

In [100]:
createTableWithSql(cur,conn,"""
    CREATE TABLE staff (
    staff_id varchar(20) PRIMARY KEY ,
    first_name varchar(20),
    last_name varchar(20),
    address_id varchar(20),
    email varchar(20),
    store_id varchar(20),
    active BOOLEAN,
    username varchar(20),
    password varchar(255),
    last_update datetime,
    picture varchar(20),
    FOREIGN KEY (address_id) REFERENCES address(address_id)
    );
"""
)

'Table created!!'

+ **Adding FOREIGN KEYS for Staff and Store tables**

In [45]:
addForeignKey(conn,cur,"store","manager_staff_id","staff","staff_id")

'Foreign key added successfully!!'

In [49]:
addForeignKey(conn,cur,"staff","store_id","store","store_id")

'Foreign key added successfully!!'

+ **Customer table**

In [19]:
createTableWithSql(cur,conn,"""
    CREATE TABLE customer (
    customer_id varchar(20) PRIMARY KEY ,
    store_id varchar(20),
    first_name varchar(20),
    last_name varchar(20),
    email varchar(20),
    address_id varchar(20),
    activebool BOOLEAN,
    create_date datetime,
    last_update datetime,
    active varchar(20),
    
    FOREIGN KEY (store_id) REFERENCES store(store_id)
    );
"""
)

'Table created!!'

+ **Inventory table**

In [20]:
createTableWithSql(cur,conn,"""
    CREATE TABLE inventory (
    inventory_id varchar(20) PRIMARY KEY ,
    film_id varchar(20),
    store_id varchar(20),
    last_update datetime,
    
    FOREIGN KEY (film_id) REFERENCES film(film_id),
    FOREIGN KEY (store_id) REFERENCES store(store_id)
    );
"""
)

'Table created!!'

+ **Rental table**

In [21]:
createTableWithSql(cur,conn,"""
    CREATE TABLE rental (
    rental_id varchar(20) PRIMARY KEY ,
    rental_date datetime,
    inventory_id varchar(20),
    customer_id varchar(20),
    return_date datetime,
    staff_id varchar(20),
    last_update datetime,
    
    FOREIGN KEY (inventory_id) REFERENCES inventory(inventory_id),
    FOREIGN KEY (customer_id) REFERENCES customer(customer_id),
    FOREIGN KEY (staff_id) REFERENCES staff(staff_id)
    );
"""
)

'Table created!!'

+ **Payment table**

In [22]:
createTableWithSql(cur,conn,"""
    CREATE TABLE payment (
    payment_id varchar(20) PRIMARY KEY ,
    customer_id varchar(20),
    staff_id varchar(20),
    rental_id varchar(20),
    amount varchar(20),
    payment_date datetime,
    
    FOREIGN KEY (customer_id) REFERENCES customer(customer_id),
    FOREIGN KEY (staff_id) REFERENCES staff(staff_id),
    FOREIGN KEY (rental_id) REFERENCES rental(rental_id)
    );
"""
)

'Table created!!'

# Inserting data

In [5]:
#Importing pandas
import pandas as pd

In [39]:
def csvToDB(conn,cur,csv,table):
    data = pd.read_csv (csv)  
    data=data.astype(object).where(pd.notnull(data), None)
    df = pd.DataFrame(data)
    
    insertQuery=f'''INSERT INTO {table} ({",".join(df.columns)}) VALUES ({",".join(["%s"]*len(df.columns))})'''
    for i, row in df.iterrows():
        try :
            cur.execute(insertQuery, list(row))
        except connector.Error as e:
            return e
    # Saving
    conn.commit()
    print(f"{df.count()} row inserted successfully in {table}")

+ **Inserting data into the Actor table**

In [30]:
csvToDB(conn,cur,r'..\data\actor-1677886980800.csv',"actor")

actor_id       200
first_name     200
last_name      200
last_update    200
dtype: int64 row inserted successfully in actor

+ **Inserting data into the Country table**

In [35]:
csvToDB(conn,cur,r'..\data\country-1677887083257.csv',"country")

country_id     109
country        109
last_update    109
dtype: int64 row inserted successfully in country

+ **Inserting data into the City table**

In [36]:
csvToDB(conn,cur,r'..\data\city-1677887064709.csv',"city")

city_id        600
city           600
country_id     600
last_update    600
dtype: int64 row inserted successfully in city

+ **Inserting data into the Address table**

In [40]:
csvToDB(conn,cur,r'..\data\address-1677887015727.csv',"address")

address_id     603
address        603
address2         0
district       600
city_id        603
postal_code    599
phone          601
last_update    603
dtype: int64 row inserted successfully in address

+ **Inserting data into the Category table**

In [41]:
csvToDB(conn,cur,r'..\data\category-1677887044868.csv',"category")

category_id    16
name           16
last_update    16
dtype: int64 row inserted successfully in category

+ **Inserting data into the language table**

In [53]:
csvToDB(conn,cur,r'..\data\language-1677887305001.csv',"language")

language_id    6
name           6
last_update    6
dtype: int64 row inserted successfully in language

+ **Inserting data into the Film table**

In [65]:
csvToDB(conn,cur,r'..\data\film-1677887139521.csv',"film")

film_id             1000
title               1000
description         1000
release_year        1000
language_id         1000
rental_duration     1000
rental_rate         1000
length              1000
replacement_cost    1000
rating              1000
last_update         1000
special_features    1000
full_text           1000
dtype: int64 row inserted successfully in film

+ **Inserting data into the Film_category table**

In [67]:
csvToDB(conn,cur,r'..\data\film_category-1677887171057.csv',"film_category")

film_id        1000
category_id    1000
last_update    1000
dtype: int64 row inserted successfully in film_category

+ **Inserting data into the Film_actor table**

In [87]:
csvToDB(conn,cur,r'..\data\film_actor-1677887154866.csv',"film_actor")

id_film_actor    5462
actor_id         5462
film_id          5462
last_update      5462
dtype: int64 row inserted successfully in film_actor

+ **Inserting data into the Store table**

In [92]:
csvToDB(conn,cur,r'..\data\store-1677887380221.csv',"store")

store_id            2
manager_staff_id    2
address_id          2
last_update         2
dtype: int64 row inserted successfully in store

+ **Inserting data into the Staff table**

In [101]:
csvToDB(conn,cur,r'..\data\staff-1677887360024.csv',"staff")

staff_id       2
first_name     2
last_name      2
address_id     2
email          2
store_id       2
active         2
username       2
password       2
last_update    2
picture        1
dtype: int64 row inserted successfully in staff

+ **Inserting data into the Customer table**

In [102]:
csvToDB(conn,cur,r'..\data\customer-1677887114572.csv',"customer")

customer_id    599
store_id       599
first_name     599
last_name      599
email          599
address_id     599
activebool     599
create_date    599
last_update    599
active         599
dtype: int64 row inserted successfully in customer

+ **Inserting data into the Inventory table**

In [103]:
csvToDB(conn,cur,r'..\data\inventory-1677887199648.csv',"inventory")

inventory_id    4581
film_id         4581
store_id        4581
last_update     4581
dtype: int64 row inserted successfully in inventory

+ **Inserting data into the Rental table**

In [104]:
csvToDB(conn,cur,r'..\data\rental-1677887346717.csv',"rental")

rental_id       16044
rental_date     16044
inventory_id    16044
customer_id     16044
return_date     15861
staff_id        16044
last_update     16044
dtype: int64 row inserted successfully in rental

+ **Inserting data into the Payment table**

In [105]:
csvToDB(conn,cur,r'..\data\payment-1677887325957.csv',"payment")

payment_id      14596
customer_id     14596
staff_id        14596
rental_id       14596
amount          14596
payment_date    14596
dtype: int64 row inserted successfully in payment