In [1]:
# Importing the required library
from mysql import connector

In [2]:
# Making the connection (Make sure MySQL & Apache services are running)
conn = connector.Connect(host="localhost",    # your host, usually localhost
                         user="root",         # your username
                         port="3306")         # port (3306 default)
# Creating the cursor
cur = conn.cursor()

In [6]:
# Creating our database
try:
    cur.execute("CREATE DATABASE club_db")
    cur.execute("commit")
    # Closing the connection to the default database
    conn.close()
except connector.Error as e:
    print(e)

In [7]:
# Connecting to the new database
conn = connector.Connect(host="localhost",    # your host, usually localhost
                         user="root",         # your username
                         port="3306",         # port (3306 default)
                         db="club_db")        # name of the database
# Creating the cursor
cur = conn.cursor()
print("Connected to club_db")

Connected to club_db

In [8]:
def create_table(conn, cur):
    # Table data
    table_name = input('Enter the name of the table: ')
    cols_types = input("Enter the columns (separeted with comma) with their data types: ")
    table_name = table_name.strip()
    # Creating the table
    try:
        cur.execute("CREATE TABLE IF NOT EXISTS "+table_name+" ("+cols_types+");")
        conn.commit()
        
        return "Table "+table_name+" created!!"
    except connector.Error as e:
        return e

In [9]:
#film_id int PRIMARY KEY, title varchar(50), description varchar(100), release_year varchar(30), language_id varchar(30), rental_duration varchar(30), rental_rate varchar(30), length varchar(30), replacement_cost varchar(30), rating varchar(30), last_update varchar(30), special_features varchar(30), fulltext varchar2(255)